@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&display=swap');

body {
	margin: 0;
	font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
	cursor: pointer;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 80px;
	margin: 12% 0;
}

.countdownForm {
	flex-direction: row;
	display: flex;
}

.countdownInput {
	margin: 0 0 0 1em;
	width: 5em;
	height: 22px;
	text-align: center;
}

.countdownButton {
	font-family: 'Nunito', 'Open Sans', sans-serif;
	margin: 0 0 0 1em;
	padding: 0 1.2em 0 1.2em;
	background-color:#39dfb7;
	color: white;
	border-radius: 0;
	font-weight: bold;
	border: none;
	font-size: 12px;
}

.Timer {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.timerText {
	align-self: center;
	margin: 2em 0 -1em 0;
}

.timerAndPlayback {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1em 0em 1em 2em;
}

.timerAndPlayback span {
	cursor: pointer;
}

.playbackButton {
	padding: 0 0 0 0;
	font-size: 2em;
}

.SpeedControls {
	display: flex;
	flex-direction: row;
	flex: 9;
}

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}